---
---

@import "{{ site.theme }}";


body {
 background: #0f0f0f;
}

#banner {
 background: #41237d;
 .button{
  background: linear-gradient(rgb(188, 136, 255), rgb(146, 56, 255));
  background-color: #8750e6;
      &:hover {
      background: linear-gradient(rgb(188, 136, 255), rgb(188, 136, 255));
      background-color: #ffeca0;
    }
 }
}

h1 {
 color: #8034eb;
}
h2 {
 color: #86eb34;
}
