---
---

@import "{{ site.theme }}";
kbd{
 background-color: #ba2b2b;
}

#banner {
 background: #4205ab;
 .button{
  background: linear-gradient(rgb(188, 136, 255), rgb(146, 56, 255));
  background-color: #8750e6;
 }
}

h1 {
 color: #8034eb;
}
h2 {
 color: #86eb34;
}
